html,body{
    overflow-x: hidden;
}
/* Global */
.hvr-bounce-to-top::before{
    border-radius: 5px;
}
.hvr-bounce-to-bottom::before{
    border-radius: 5px;
}
body{
    background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url('https://pre00.deviantart.net/85f7/th/pre/i/2015/348/e/c/kodu_by_kuldarleement-d9k5945.png');
    background-size: cover;
    background-position: center;
    height: 100vh;
}
/* Navbar */
nav{
    background: #212F3D;
}
nav ul li{
    padding: 0 20px;
}
.nav-link{
    color: #F4F6F7 !important;
    font-size: 18px;
}
/* Header */
header{
    background:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url('./pics/ru979pdjir0z.jpg');
    background-position: center;
    background-size: cover;
    height: 650px;
}
/* Content */
.card{
    margin-top: 20px;
    border-radius: 5px;
    background: #F4F6F7;
    opacity: 0.9;
}
.card h2,p{
    text-align: center;
}
.card h1{
    text-align: center;
    font-size: 55px;
}
.card p{
    font-size: 25px;
}
.carousel-inner{
    border-radius: 5px;
    margin-top: 20px;
}
.btn{
    background: #3498DB;
    color: #F4F6F7;
}
.card span{
    color: #A93226;
    font-weight: bold;
}



